# ignore python caching stuff
*/__pycache__/*
*.py[cod]

# ignore jupyter notebook caching stuff
*/.ipynb_checkpoints/*
*checkpoint.ipynb

# ignore report writing
*.gdoc
*.doc
*.docx
*.pdf

#ignore other garbage
*.json
*desktop.ini
*.egg-info
*/logs
*/videos
